<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 - serverbaserad webbutveckling</title>
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/" class = "current">Visa kurser</a></li>
            <li><a href = "/addcourse">Lägg till kurs</a></li>
            <li><a href = "/about">Om</a></li>
        </ul>
    </nav>
    <main>
    <h1>Visa kurser</h1>
    <p>En text som visar hur brödtexten ser ut...</p>
    <table>
        <thead>
            <tr>
                <th>Kursnamn</th>
                <th>Kurskod</th>
                <th>Progression</th>
                <th>Kursplan</th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach(function(course) { %>
                <tr>
                    <td><%= course.coursename %></td>
                    <td><%= course.coursecode %></td>
                    <td><%= course.progression %></td>
                    <td><%= course.syllabus %></td>
                    <td>
                        <form method="post" action="/delete-course">
                            <input type="hidden" name="courseId" value="<%= course.id %>">
                            <button type="submit" class="delete-button">Ta bort</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    </main>

        <footer>
            Skapad av Cecilia Lindström celi2302@student.miun.se
        </footer>
</body>
</html>